* {
    box-sizing: border-box;
    line-height: 0.8em;
}

#topLevel {
    position: relative;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

/*
[class*="col-"] {
    float: left;
    padding: 0.3em 0.5em;
    padding-top: 0.2em;
}

.row {}

.row:after {
    content: "";
    clear: both;
    display: block;
}
*/

[class*="col-"] {
    display: table-cell;
    padding: 0.3em 0.5em;
    padding-top: 0.2em;
    vertical-align: top;
}

.row {
    display: table;
    width: 100%;
}


.lrmargin {
    margin: 0 0.5em;
}


P, H1, H3, span {
    line-height: 1.4em;
}

H1 { 
    margin-top: 0; 
    margin-bottom: 0;
}

H3 {
    margin: 0;
    margin-top: 0.3em;
    word-wrap: break-word;
}


.previousTable {
    table-layout: auto;
}

.previousTable td, .previousTable th {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.varWidthCell {
   min-width: 2em;
   max-width: 5em;
}

.hiddenFromUser {
    display: none;
}

#backButton {
    float: right;
}

#backButton span {
    display: inline-block;
}


:-ms-input-placeholder {
   color: #ccc !important;
}

::-ms-input-placeholder {
   color: #ccc;
}

.ui-dialog {
    -webkit-box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.5);
    box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.5);
    border: 1px solid #444;
    -webkit-user-select: all;  /* Chrome all / Safari all */
    -moz-user-select: all;     /* Firefox all */
    -ms-user-select: all;      /* IE 10+ */
    user-select: all;          /* Likely future */  
}

.ui-dialog P:last-child {
    text-align: center;
}

.ui-dialog A {
    color: #44f;
    font-size: 0.8em;
}

.invalid {
    border-top: 1px solid red;
    border-bottom: 1px solid red;
    color: red;
    background: #faa;
}


td span[contenteditable=true] {
    min-width: 5em;
    min-height: 1.4em;
    border: 1px solid transparent;
    border-bottom: 1px dotted #88b;
    display: inline-block;
    padding: 0em 0.2em;
}

td span[contenteditable=true]:hover {
     border: 1px dotted #448;
}


/* 
next two rules from brilliant stackoverflow answer for stopping multiline display in contenteditable area
http://stackoverflow.com/a/13470210/368214
*/
td span[contenteditable=true] br {
     display: none;
}

td span[contenteditable=true] p {
    display: inline;
    margin: 0;
}


th, td input {
    text-transform: capitalize;
}

table tr {
    color: #444;
}

table tbody tr.odd {
    background: #f8f8f8;
}

table tbody tr.isUser {
    background: #ffd;
}

table tr input[disabled], button.ms-choice.disabled span {
    color: #aaa;
}

tbody tr td {
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
}

tbody tr:hover td {
    border-top: 1px solid black;
    color: black;
    background: transparent;
    border-bottom: 1px solid black;
}

tbody tr td.changedValue {
    background: #ddf;
    color: #448;
    border: 1px solid blue;
}

.ms-choice, .ms-drop label span {
    text-transform: capitalize;
    font-family: inherit;
}

.ms-choice > span {
    top: 0.25em;
}

.ms-drop ul > li:nth-child(2n) {
    background: #f0f0f0;
}

u {    
    border-bottom: 1px dotted #000;
    text-decoration: none;
}
